{% extends 'base.html' %}

{% block content %}

{% if message %}
{% for m in message %}
<span class="message {{ m.get('state') }}">
  <span class="message-title">{{ m.get('title') }}</span>
  {% if m.get('message') %}
  <pre>{{ m.get('message') }}</pre>
  {% endif %}
</span>
{% endfor %}
{% endif %}

<div class="card">
  <div class="card-title">
    <h1 class="center-align">Add a meal to the Database</h1>
  </div>
  <div class="card-content">
    <form id="add-form" role="form" method='POST' action='/add-meal/'>
      <div>
        <label for="title" class="">Meal Title</label>
        <input type="text" name="title" id="title-box" class="" placeholder="Enter Title..."
          value="{% if values %} {{ values.get('title') }} {% endif %}">
      </div>

      <div>
        <label for="ingredients" class="">Ingredients</label>
        <textarea name="ingredients" id="ingredients-box"
          class="">{% if values %} {{ values.get('ingredients') }} {% endif %}</textarea>
      </div>

      <div>
        <label for="instructions" class="">Instructions</label>
        <textarea name="instructions" id="instructions-box"
          class="">{% if values %} {{ values.get('instructions') }} {% endif %}</textarea>
      </div>

      <div>
        <label for="image" class="">Image</label>
        <input type="text" name="image" id="image-box" class="" placeholder="http://..."
          value="{% if values %} {{ values.get('image') }} {% endif %}">
      </div>

      <div>
        <label for="url" class="">Website URL</label>
        <input type="text" name="url" id="url-box" class="" placeholder="http://..."
          value="{% if values %} {{ values.get('url') }} {% endif %}">
      </div>

      <div>
        <label for="date" class="">Assign to date</label>
        <input type="date" name="plan_date" value="{% if values %}{{ values.get('date') }}{% endif %}">
      </div>

      <div class="center-align">
        <button type="submit" class="add-meal-button">Submit</button>
      </div>
    </form>
  </div> <!-- card-content -->
</div> <!-- card -->

{% endblock %}