<!DOCTYPE html>
<html>

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
  <div id="container">
    <header>
      <div class="logo">
        <a href="{{ url_for('home') }}">
          <i class="material-icons">restaurant_menu</i>
        </a>
      </div>
      <div class="title">Mealer</div>
      <div class="sub-title">The meal planning app</div>
    </header>

    <nav>
      <div id="api-links">
        <span class="link-title">API LINKS</span>
        <a href="/meals/">All Meals</a>
        <a href="/plans/">All Plans</a>
      </div>
      <div id="web-links">
        <span class="link-title">WEB LINKS</span>
        <a href="/show-meals/">All Meals</a>
        <a href="/show-plans/">All Plans</a>
        <a href="/add-meal/">Add Meal</a>
        <a href="/add-plan/">Add Plan</a>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

  </div> <!-- container -->
</body>

</html>