{% extends 'base.html' %}

{% block content %}

{% if message %}
{% for m in message %}
<span class="message {{ m.get('state') }}">
  <span class="message-title">{{ m.get('title') }}</span>
  {% if m.get('message') %}
  <pre>{{ m.get('message') }}</pre>
  {% endif %}
</span>
{% endfor %}
{% endif %}

{% for meal in results %}
<div class="col s12">
  <div class="right">
    <a href="/edit-meal/{{ meal.id }}/" class="btn-floating btn-large waves-effect waves-light red"><i
        class="material-icons">edit</i></a>
  </div>
  <div class="card horizontal">
    <div class="card-image">
      <img class="responsive-img" src="{{ meal.image }}">
    </div>
    <div class="stacked">
      <div class="card-content">
        <p>{{ meal.title }}</p>
        <p>{{ meal.ingredients }}</p>
        <p>{{ meal.instructions }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}