{% extends 'base.html' %}

{% block content %}

{% if message %}
{% for m in message %}
<span class="message {{ m.get('state') }}">
  <span class="message-title">{{ m.get('title') }}</span>
  {% if m.get('message') %}
  <pre>{{ m.get('message') }}</pre>
  {% endif %}
</span>
{% endfor %}
{% endif %}

{% for meal in results %}
<div class="meal-card">
  <div class="meal-card-image">
    <img class="responsive-img" src="{{ meal.image }}">
  </div>
  <div class="meal-card-title">
    <p>{{ meal.title }}</p>
    <div class="right">
      <a href="/edit-meal/{{ meal.id }}/" class=""><i
          class="material-icons">edit</i></a>
    </div>
  </div>
  <div class="meal-card-content">
    <p>{{ meal.ingredients }}</p>
    <p>{{ meal.instructions }}</p>
  </div>
</div>
{% endfor %}

{% endblock %}